.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

@media only screen and (max-width:1270px){
    .container{
        max-width: 962px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:950px){
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }
}