.goods {
    padding-top: 92px;
    padding-bottom: 155px;

    background-color: #F8F8F8;
}

.goods__top--home {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    align-items: center;
}

.goods__title--home {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 40;
    line-height: 71px;
    color: $titlecolor;
}


.goods__list--home {
    display: flex;
    overflow: hidden;

}

// .show {
//     display: block;
// }

// .none {
//     display: none;
// }

.goods__list--firm {
    flex-wrap: wrap;
}

.goods__list {
    display: flex;
}

.goods__itom--home {
    width: calc((100% - 60px) /3);
    padding: 41px 54px 35px 53px;
}

.goods__itom--firm {
    width: calc((100% - 90px) /4);
    padding: 41px 0px 35px 0px;
    margin-bottom: 30px;

    &:nth-of-type(4n) {
        margin-right: 0;
    }
}

.goods__itom {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // align-items: center;
    text-align: center;
    margin-right: 30px;
    position: relative;
    background-color: #fff;
    border-radius: 50px 0;
    // overflow: hidden;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transition: 0.5s ease all;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        
    }
}

.goods__itom:hover .goods__itom-disc {
    // text-decoration: underline;
    color: $titlecolor;
    transition: 0.4s ease all;
}

.goods__itom-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50px 0;
}

// .goods__itom-content{
//     position: relative;
// }
.goods__itom-disc {
    width: fit-content;
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #2D3A3A;


}

.goods__price {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Oswald';
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
    color: #7D7D7D;

    &-num {
        color: #FF5F01;
        ;
    }
}

.goods__bottom-slider {
    display: none !important;
    justify-content: center;
}

.goods__selector {
    display: inline-block;
    margin-bottom: 43px;
    color: #333333;
    position: relative;
    cursor: pointer;
}

.goods__dawn {
    margin-left: 11px;
}

.goods__selector-list {
    display: none;
    @include reset-list;
    position: absolute;
    width: 228px;
    padding: 16px 28px 20px 29px;
    z-index: 1;
    color: #fff;
    background-color: #333333;
    cursor: pointer;

    &::before {
        position: absolute;
        width: 25px;
        height: 20px;
        right: 18px;
        top: -14px;
        background-image: url("../img/selector.svg");
        background-repeat: no-repeat;
        content: '';
    }
}

.goods__selector-itom {
    margin-bottom: 10px;



    &:hover {
        color: #FF5F01;
    }

    &:last-child {
        margin-bottom: 0%;
    }
}

.goods__selector-list.active {
    display: block;
}

.goods__dawn.active {

    transform: rotate(180deg);


}


@media only screen and (max-width:1270px) {
    .goods__itom--home {
        padding: 41px 34px 35px 33px;
    }

    .goods__itom--firm {
        width: calc((100% - 60px) /3);
        padding: 41px 0 35px 0;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &:nth-of-type(4) {
            margin-right: 30px;
        }

        &:nth-of-type(8) {
            margin-right: 30px;
        }
    }
}

@media only screen and (max-width:950px) {
    .goods {
        padding-top: 0;
        padding-bottom: 150px;
        margin-bottom: 0;
    }

    .goods__itom--home {
        width: calc((100% - 30px) /2);
    }

    .goods__itom--firm {
        width: calc((100% - 30px) /2);
        // padding: 41px 0 35px 0;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        &:nth-of-type(2n+1) {
            margin-right: 30px;
        }

    }

}

@media only screen and (max-width:768px) {
    .goods {
        padding-top: 30px;
        padding-bottom: 100px;
        // margin-bottom: 100px;
        position: relative;
    }

    .goods__top {
        justify-content: center;
    }

    .goods__title {
        font-size: 24px;
    }

    .goods__top-slider {
        display: none !important;
    }

    .goods__itom {
        padding: 30px 0;
    }

    .goods__itom-disc {
        font-size: 22px;
    }

    .goods__bottom-slider {
        display: flex !important;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
    }

    .goods__bottom-slider--limuzine {
        display: none;
    }

    .goods__bottom-slider--optimal {
        margin-right: 0 !important;
    }

    .goods__selector-itom {
        font-size: 14px;
    }

}

@media only screen and (max-width:550px) {
    .goods {
        padding-bottom: 69px;
        margin-bottom: 0;
    }

    .goods__itom {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .goods__price {
        position: relative;
    }

    .goods__bottom-slider--limuzine {
        display: block;
    }

}