.intro {
    background-color: #fff;
}

.intro__container {
    padding-top: 69px;
    padding-bottom: 70px;
    display: flex;
    // position: relative;
    align-items: center;

}

.intro__wrap {
    padding: 88px 57px 88px 0;
    // max-width: 585px;
    position: relative;
    z-index: 2;

    &-cover {
        position: absolute;
        display: block;
        top: 0;
        left: -66px;
        right: 0;
        bottom: 0;
        background-color: #FAFAEB;
        border-radius: 200px 0;
        z-index: -1;
    }
}

.intro__title {
    width: 535px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    color: #2BA84A;
    margin-bottom: 12px;

}

.intro__disc {
    max-width: 514px;
    font-size: 18px;
    line-height: 28px;
    color: #2D3A3A;
    margin-bottom: 38px;
}

.intro__img {
    object-fit: cover;
}

.intro__link-btn {
    padding: 15px 22px;
    margin-right: 59px;
}

.intro__link-link {
    display: inline-block;
    color: $titlecolor;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}


@media only screen and (max-width:1270px) {
    .intro__img {
        width: 620px;
        height: 321px;
        object-fit: contain;
    }
}

@media only screen and (max-width:950px) {
    .intro__img {
        display: none;
    }

    .intro__wrap {
        width: 100%;
        padding: 23px 20px 23px 20px;

        &-cover {
            position: absolute;
            display: block;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0;
            background-color: #FAFAEB;
            border-radius: 20px 0;
            z-index: -1;
        }
    }

    .intro__title,
    .intro__wrap {
        width: 100%;
    }
}

@media only screen and (max-width:680px) {
    .intro__title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 4px;
    }

    .intro__disc {
        font-size: 14px;
        line-height: 24px;
    }

    .intro__link-btn {
        width: 100%;
        margin-bottom: 17px;
        text-align: center;
    }

    .intro__link-link {
        width: 100%;
        text-align: center;
    }
}