.sections__container {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.sections__left {
    max-width: 291px;
    padding: 68px 22px 58px 30px;
    background-image: url("../img/section-right.jpg");
    background-size: contain;
    border-radius: 30px 0;
    margin-right: 30px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {

        background-image: url("../img/section-right@2x.jpg");
    }
}


.sections__left-title {
    margin-bottom: 14px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;

}

.sections__left-disc {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.sections__list {
    @include reset-list;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.sections__itom {

    width: calc((100% - 60px) /3);
    margin-right: 30px;
    margin-bottom: 16px;
    padding: 48px 29px;
    position: relative;
    border-radius: 30px 0;
    overflow: hidden;



    &--down {
        margin-bottom: 0;
    }

    &:nth-of-type(3n) {
        margin-right: 0;
    }

    &:nth-of-type(1) {
        background-image: url("../img/listbg1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg1@2x.jpg");
        }
    }

    &:nth-of-type(2) {
        background-image: url("../img/listbg2.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg2@2x.jpg");
        }
    }

    &:nth-of-type(3) {
        background-image: url("../img/listbg3.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg3@2x.jpg");
        }
    }

    &:nth-of-type(4) {
        background-image: url("../img/listbg4.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg4@2x.jpg");
        }
    }

    &:nth-of-type(5) {
        background-image: url("../img/listbg5.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg5@2x.jpg");
        }
    }

    &:nth-of-type(6) {
        background-image: url("../img/listbg6.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {

            background-image: url("../img/listbg6@2x.jpg");
        }
    }
}

.sections__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.sections__list-title {
    position: absolute;
    // max-width: 242px;
    padding: 15px 25px;
    width: fit-content;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    align-items: center;
    text-transform: uppercase;

}

.sections__link:hover .sections__list-title {
    text-decoration: underline;
}

.sections__link:hover {
    // background-image: none;
    background-color: $titlecolor;
    border-radius: 30px 0;
    transition: 0.4s ease all;

}

@media only screen and (max-width:1270px) {
    .sections__left {
        height: fit-content;
    }

    .sections__itom {
        width: calc((100% - 30px) /2);
        height: 154px;
        // margin-bottom: 0;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        &:nth-of-type(3) {
            margin-right: 30px;
        }
    }
}

@media only screen and (max-width:950px) {

    .sections__container {
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .sections__left {
        max-width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:768px) {
    .sections__container {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .sections__left {
        padding: 27px 21px 34px 21px;
        margin-bottom: 15px;
    }

    .sections__left-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 8px;
    }

}

@media only screen and (max-width:550px) {


    .sections__left-disc {
        font-size: 16px;
        line-height: 22px;
    }

    .sections__list {
        flex-direction: column;
    }

    .sections__itom {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
}